{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
{{ form_label(form.pseudo, "Pseudo *", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

    {{ form_widget(form.pseudo, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 border-blue-400 w-full mb-3 ',
            'placeholder': 'Pseudo'
        }
    }) }}
{{ form_label(form.country, "Pays", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

    {{ form_widget(form.country, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 border-blue-400 w-full mb-3 ',
            'placeholder': 'Pays'
        }
    }) }}
{{ form_label(form.city, "Ville ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

     {{ form_widget(form.city, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 border-blue-400 w-full mb-3 ',
            'placeholder': 'Ville'
        }
    }) }}
{{ form_label(form.zip_code, "Code Postal", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

     {{ form_widget(form.zip_code, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 border-blue-400 w-full mb-3 ',
            'placeholder': 'Code Postal'
        }
    }) }}
{{ form_label(form.description, "Description", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

     {{ form_widget(form.description, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 border-blue-400 w-full mb-3 ',
            'placeholder': 'Description'
        }
    }) }}
{{ form_label(form.picture, "Lien Photo", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

     {{ form_widget(form.picture, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 border-blue-400 w-full mb-3 ',
            'placeholder': 'Lien Photo'
        }
    }) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form ) }}
