{% extends 'base.html.twig' %}

{% block title %}Profil
	{{ profil.pseudo }}
{% endblock %}

{% block body %}
	<div class="user-contain py-5 px-20 bg bg-slate-100">
		{% for notification in profil.notifications|reverse %}
			{% if notification.receiptPage == "hall" %}
				<a href="{{ path('app_hall_show', {'id': notification.receiptId}) }}">
			{% elseif notification.receiptPage == "band" %}
				<a href="{{ path('app_band_show', {'id': notification.receiptId}) }}">
			{% endif %}
				{% if notification.status == 1 %}
					<div class="bg-slate-200 my-3 p-3 rounded-md border-2 border-slate-300 hover:bg-white hover:border-2 hover:border-slate-300 duration-300">
				{% else %}
					<div class="bg-white my-3 p-3 rounded-md border-2 border-white hover:border-2 hover:border-slate-300 duration-300">
				{% endif %}
					{% if notification.receiptPage == "hall" %}
						{% for hallMember in profil.hallMembers %}
							{% if notification.receiptId == hallMember.hall.id %}
								<div class="flex">
									<img src="{{ hallMember.hall.logo }}" alt="" class=" w-10 rounded-full mr-3">
									<div>
										<div class="flex justify-between">
											<p class="mr-3 text-blue-400 font-semibold">{{ hallMember.hall.name }}</p>
											<p class="text-xs">{{ notification.date|date('d-m-Y') }}</p>
										</div>
										<p>{{ notification.message }}</p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% elseif notification.receiptPage == "band" %}
						{% for bandMember in profil.bandMembers %}
							{% if notification.receiptId == bandMember.band.id %}
								<div class="flex">
									<img src="{{ bandMember.band.logo }}" alt="" class=" w-10 rounded-full mr-3">
									<div>
										<div class="flex justify-between">
											<p class="mr-3 text-blue-400 font-semibold">{{ bandMember.band.name }}</p>
											<p class="text-xs">{{ notification.date|date('d-m-Y') }}</p>
										</div>
										<p>{{ notification.message }}</p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
