{% extends 'base.html.twig' %}

{% block title %}Profil
	{{ profil.pseudo }}
{% endblock %}

{% block body %}
	{% if app.user.profil.id == app.request.attributes.get('id') and app.user.isVerified == 0 %}
		<div class="user-contain px-5 lg:px-28 py-5 bg-slate-100 h-screen">
			<div class="bg-white p-3">
				<div class="flex justify-center items-center mb-5">
					<div class="bg-slate-500 p-2 rounded mr-5">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 20 20"><path fill="white" d="M19 5.5a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0M14.5 3a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5m0 5.125a.625.625 0 1 0 0-1.25a.625.625 0 0 0 0 1.25m0 2.875c1.33 0 2.55-.472 3.5-1.257V14.5a2.5 2.5 0 0 1-2.5 2.5h-11A2.5 2.5 0 0 1 2 14.5V7.373l7.747 4.558a.5.5 0 0 0 .507 0l2.23-1.312A5.485 5.485 0 0 0 14.5 11m-10-7h4.707a5.496 5.496 0 0 0 2.235 6.072L10 10.92L2.015 6.223A2.5 2.5 0 0 1 4.5 4"/></svg>
					</div>
					<h3 class="font-bold text-slate-500 text-xl">Vous avez un message !</h3>
				</div>

				<p class="text-center">Veuillez valider votre compte via
					<strong>l'email de confirmation</strong>
				</p>
				<hr>
				{% set notMessage = 0 %}
				{% for message in app.flashes('warning') %}
					{% set notMessage = notMessage + 1 %}

					<div class="bg-green-100">
						<p class="text-center text-green-500">{{ message }}</p>
					</div>
				{% endfor %}
				{% if notMessage == 0 %}
					<p class="text-center">Toujours rien reçu ?</p>
					<div class="flex justify-center">
						<a href="{{ path("app_resend_confirmation_mail", {id: profil.id}) }}" class="text-center">
							<span class="text-blue-500 mr-1 font-bold">Cliquez ici
							</span>
							pour renvoyer le mail de confirmation
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% elseif app.user.profil.id == app.request.attributes.get('id') and app.user.isVerified == 1 and app.user.profil.pseudo == ''  %}
		<div class="user-contain px-5 lg:px-28 py-5 bg-slate-100 h-screen">
			<div class="bg-white p-3">
				<div class="flex justify-center items-center mb-5">
					<div class="bg-slate-500 p-2 rounded mr-5">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24"><path fill="white" d="m14.53 1.45l-1.08 1.08l1.6 1.6c.22.25.33.54.33.87s-.11.64-.33.86L11.5 9.47l1 1.08l3.63-3.61c.53-.59.79-1.24.79-1.94s-.26-1.36-.79-1.95zm-3.98 2.02L9.47 4.55l.61.56c.22.22.33.52.33.89s-.11.67-.33.89l-.61.56l1.08 1.08l.56-.61c.53-.59.8-1.23.8-1.92c0-.72-.27-1.37-.8-1.97zM21 5.06c-.69 0-1.33.27-1.92.8l-5.63 5.64l1.08 1l5.58-5.56c.25-.25.55-.38.89-.38s.64.13.89.38l.61.61l1.03-1.08l-.56-.61c-.59-.53-1.25-.8-1.97-.8M7 8L2 22l14-5zm12 3.06c-.7 0-1.34.27-1.94.8l-1.59 1.59l1.08 1.08l1.59-1.59c.25-.25.53-.38.86-.38c.33 0 .63.13.88.38l1.62 1.59l1.05-1.03l-1.6-1.64c-.59-.53-1.25-.8-1.95-.8"/></svg>
					</div>
					<h3 class="font-bold text-slate-500 text-xl">Welcome Home !</h3>
				</div>

				<p class="text-center">Félicitation vous êtes bien inscrit ! Pour accéder aux services,
					<strong>merci de remplir vos informations.</strong>
				</p>
				{% set notMessage = 0 %}
				{% for message in app.flashes('warning') %}
					{% set notMessage = notMessage + 1 %}

					<div class="bg-green-100">
						<p class="text-center text-green-500">{{ message }}</p>
					</div>
				{% endfor %}
				{% if notMessage == 0 %}
					<div class="flex justify-center ">
						<a href="/profil/{{ app.user.profil.id}}/edit" class="bg-blue-500 text-white font-bold p-3 rounded mt-5">Je remplis mes informations</a>

					</div>
				{% endif %}
			</div>
		</div>

	</div>
{% else %}
	<contain class="user-contain px-5 lg:px-28 py-5 bg-slate-100">
		<div class="bg-white rounded-md shadow-md relative">
			<h4 class="bg-slate-700 text-white p-2 rounded-t-md pl-32 md:pl-40 pt-10 md:pt-4 pb-1 flex justify-between items-center">
				<span class="font-bold">{{profil.pseudo}}</span>

			</h4>
			<div class="img-hall-booking">
				<img src="{{profil.picture}}" alt="photo de profil de {{profil.pseudo}}">
			</div>

			<div class="pl-5 pt-8 md:pl-40 md:pt-5 pb-5 pr-5 w-full">
				<div class="flex flex-wrap justify-between">
					<div class="flex ">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" class="mr-2 mt-1"><path fill="#334155" fill-rule="evenodd" d="M9.213 12.75c-.084.774-.308 1.392-.698 1.94c-.523.731-1.4 1.414-2.85 2.14a.75.75 0 1 0 .67 1.34c1.55-.774 2.673-1.591 3.4-2.61c.741-1.036 1.015-2.203 1.015-3.56V7.5A1.75 1.75 0 0 0 9 5.75H5A1.75 1.75 0 0 0 3.25 7.5V11c0 .966.784 1.75 1.75 1.75zm10 0c-.084.774-.308 1.392-.698 1.94c-.523.731-1.4 1.414-2.85 2.14a.75.75 0 1 0 .67 1.34c1.55-.774 2.673-1.591 3.4-2.61c.741-1.036 1.015-2.203 1.015-3.56V7.5A1.75 1.75 0 0 0 19 5.75h-4a1.75 1.75 0 0 0-1.75 1.75V11c0 .966.784 1.75 1.75 1.75z" clip-rule="evenodd"/></svg>
						<div>
							<h3>{{ profil.description ? profil.description : "Non précisé" }}</h3>
						</div>
					</div>

				</div>
				<div class="flex flex-wrap justify-between">
					<div class="flex ">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 256 256" class="mr-2 mt-1">
							<path fill="#334155" d="M128 16a88.1 88.1 0 0 0-88 88c0 75.3 80 132.17 83.41 134.55a8 8 0 0 0 9.18 0C136 236.17 216 179.3 216 104a88.1 88.1 0 0 0-88-88m0 56a32 32 0 1 1-32 32a32 32 0 0 1 32-32"/>
						</svg>
						<div>
							<h3>{{ profil.city ? profil.city : "Non précisé" }}</h3>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="tab_project flex-responsive w-full justify-between">
			<section class="my-10 w-flex">
				<div class="bg-white rounded-md shadow-md w-full">
					<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mes salles</h4>

					{% for hallMember in profil.hallMembers %}
						{% if hallMember.status != "reject"%}
							<a href="/hall/{{ hallMember.hall.id }}">

								<div class="flex justify-between p-3 hover:bg-slate-100 items-start">

									<div class="flex relative">

										<div class="img-project-db">
											<img src="{{ hallMember.hall.logo}}" alt="logo de la salle {{ hallMember.hall.name}}">
										</div>
										{% set counter = 0 %}
										{% set currentDate = date()|date('Y-m-d') %}
										{% for event in hallMember.hall.events %}
											{% if event.status == 3 %}
												{% set counter = counter + 1 %}
											{% endif %}
										{% endfor %}
										{% if counter > 0 %}
											<div class="bg-red-500 text-white px-2 py-1 rounded-full absolute text-xs top-0 left-9">
												{{ counter }}
											</div>
										{% endif %}
										<div class="ml-3">
											<p class="text-blue-400 font-semibold">{{ hallMember.hall.name}}
												({{ hallMember.status|capitalize }})</p>
											{% for hallMemberRole in hallMember.hallMemberRoles %}
												<p>{{ hallMemberRole.roleHall.roleName}}</p>
											{% endfor %}
										</div>
									</div>


									{% if hallMember.status == "guest" %}
										{% if is_granted('profil_edit', profil) %}
									
										<div>
											<form action="{{ path('app_profil_show', {'id': app.user.profil.id}) }}" method="post">
												<input type="hidden" name="action" value="validate">
												<input type="hidden" name="page" value="hall">
												<input type="hidden" name="hallMemberId" value="{{ hallMember.id }}">
												<button type="submit" class="validate-button px-2 py-1 rounded-lg bg-emerald-300 text-white hover:bg-emerald-500">Valider</button>
											</form>
											<form action="{{ path('app_profil_show', {'id': app.user.profil.id}) }}" method="post">
												<input type="hidden" name="action" value="reject">
												<input type="hidden" name="page" value="hall">
												<input type="hidden" name="hallMemberId" value="{{ hallMember.id }}">
												<button type="submit" class="reject-button px-2 py-1 rounded-lg bg-red-300 text-white hover:bg-red-600">Refuser</button>
											</form>
										</div>
											{% endif %}

									{% else %}
										{% set countEvent = 0 %}
										{% set countInProgress = 0 %}
										{% set currentDate = date()|date('Y-m-d') %}
										{% for event in hallMember.hall.events %}
											{% if event.date|date('Y-m-d') > currentDate and event.status == 1 %}
												{% set countEvent = countEvent + 1 %}
											{% endif %}
											{% if event.date|date('Y-m-d') > currentDate and event.status == 3 %}
												{% set countInProgress = countInProgress + 1 %}
											{% endif %}
										{% endfor %}
										<div class="flex items-center">
											{{ countEvent }}
											<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 24 24" class="mr-3"><path fill="#334155" d="M14.5 18q-1.05 0-1.775-.725T12 15.5q0-1.05.725-1.775T14.5 13q1.05 0 1.775.725T17 15.5q0 1.05-.725 1.775T14.5 18M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5z"/></svg>

										</div>

									{% endif %}

								</div>
							</a>
							<hr>

						{% endif %}

					{% endfor %}
					{% if is_granted('profil_edit', profil) %}
						<div class="p-3">
							<a href="{{ path('app_hall_new') }}" class="text-slate-400 hover:text-blue-500 ">
								<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Créer une nouvelle salle</a>
						</div>
					{% endif %}
				</div>
			</section>
			<section class="my-10 w-flex">
				<div class="bg-white rounded-lg shadow-md  w-full  ">
					<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mes projets musicaux</h4>


					{% for bandMember in profil.bandMembers %}

						{% if bandMember.status == "member" or bandMember.status == "admin" %}
							<a href="/band/{{ bandMember.band.id }}">
								<div class="flex justify-between p-3 hover:bg-slate-100 items-start">
									<div class="flex relative">
										<div class="img-project-db">
											<img src="{{ bandMember.band.logo}}" alt="logo du groupe {{ bandMember.band.name}}">
										</div>
										{% if is_granted('profil_edit', profil) %}
											{% set counter = 0 %}
											{% set currentDate = date()|date('Y-m-d') %}
											{% for bandEvent in bandMember.band.bandEvents %}
												{% if bandEvent.status == "guest" %}
													{% set counter = counter + 1 %}
												{% endif %}
											{% endfor %}
											{% if counter > 0 %}
												<div class="bg-red-500 text-white px-2 py-1 rounded-full absolute text-xs top-0 left-9">
													{{ counter }}
												</div>
											{% endif %}
										{% endif %}

										<div class="ml-3">
											<p class="text-blue-400 font-semibold">{{ bandMember.band.name}}
												({{ bandMember.status|capitalize }})</p>
											{% for BandMemberRole in bandMember.BandMemberRoles %}
												<p>{{ BandMemberRole.roleBand.roleName|capitalize }}</p>
											{% endfor %}
										</div>
									</div>

									{% if bandMember.status == "guest" %}
										{% if is_granted('profil_edit', profil) %}

											<div>
												<form action="{{ path('app_profil_show', {'id': app.user.profil.id}) }}" method="post">
													<input type="hidden" name="action" value="validate">
													<input type="hidden" name="page" value="band">
													<input type="hidden" name="bandMemberId" value="{{ bandMember.id }}">
													<button type="submit" class="validate-button px-2 py-1 rounded-lg bg-emerald-300 text-white hover:bg-emerald-500">Valider</button>
												</form>
												<form action="{{ path('app_profil_show', {'id': app.user.profil.id}) }}" method="post">
													<input type="hidden" name="action" value="reject">
													<input type="hidden" name="page" value="band">
													<input type="hidden" name="bandMemberId" value="{{ bandMember.id }}">
													<button type="submit" class="reject-button px-2 py-1 rounded-lg bg-red-300 text-white hover:bg-red-600">Refuser</button>
												</form>
											</div>
										{% endif %}

									{% else %}
										{% set countEvent = 0 %}
										{% set countInProgress = 0 %}
										{% set currentDate = date()|date('Y-m-d') %}
										{% for bandEvent in bandMember.band.bandEvents %}
											{% if bandEvent.event.date|date('Y-m-d') > currentDate and bandEvent.status == "validate" %}
												{% set countEvent = countEvent + 1 %}
											{% endif %}
											{% if bandEvent.event.date|date('Y-m-d') > currentDate and bandEvent.status == "guest" %}
												{% set countInProgress = countInProgress + 1 %}
											{% endif %}
										{% endfor %}
										<div class="flex items-center">
											{{ countEvent }}
											<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 24 24" class="mr-3"><path fill="#334155" d="M14.5 18q-1.05 0-1.775-.725T12 15.5q0-1.05.725-1.775T14.5 13q1.05 0 1.775.725T17 15.5q0 1.05-.725 1.775T14.5 18M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5z"/></svg>

										</div>

									{% endif %}

								</div>
							</a>
							<hr>

						{% endif %}

					{% endfor %}
					{% for bandMember in profil.bandMembers %}
						{% if bandMember.status == "guest" and is_granted('profil_edit', profil)%}
							<a href="/band/{{ bandMember.band.id }}">
								<div class="flex justify-between p-3 hover:bg-slate-100 items-center">
									<div class="flex relative">
										<div class="img-project-db">
											<img src="{{ bandMember.band.logo}}" alt="logo du groupe {{ bandMember.band.name}}">
										</div>
										{% set counter = 0 %}
										{% for notification in app.user.profil.notifications %}
											{% if notification.status == 1 and notification.receiptId == bandMember.band.id %}
												{% set counter = counter + 1 %}
											{% endif %}
										{% endfor %}
										{% if counter > 0 %}
											<div class="bg-red-500 text-white px-2 py-1 rounded-full absolute text-xs top-0 left-9">
												{{ counter }}
											</div>
										{% endif %}
										<div class="ml-3">
											<p class="text-blue-400 font-semibold">{{ bandMember.band.name}}
												vous invite à les rejoindres</p>
											{% for BandMemberRole in bandMember.BandMemberRoles %}
												<p>{{ BandMemberRole.roleBand.roleName}}</p>
											{% endfor %}
										</div>
									</div>
									<div>
										<form action="{{ path('app_profil_show', {'id': app.user.profil.id}) }}" method="post">
											<input type="hidden" name="action" value="validate">
											<input type="hidden" name="page" value="band">
											<input type="hidden" name="bandMemberId" value="{{ bandMember.id }}">
											<button type="submit" class="validate-button px-2 py-1 rounded-lg bg-emerald-300 text-white hover:bg-emerald-500">Valider</button>
										</form>
										<form action="{{ path('app_profil_show', {'id': app.user.profil.id}) }}" method="post">
											<input type="hidden" name="action" value="reject">
											<input type="hidden" name="page" value="band">
											<input type="hidden" name="bandMemberId" value="{{ bandMember.id }}">
											<button type="submit" class="reject-button px-2 py-1 rounded-lg bg-red-300 text-white hover:bg-red-600">Refuser</button>
										</form>
									</div>
								</div>
							</a>
							<hr>
						{% endif %}
					{% endfor %}
					{% if is_granted('profil_edit', profil) %}
						<div class="p-3">
							<a href="{{ path('app_band_new') }}" class="text-slate-400 hover:text-blue-500 p-3">
								<span class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</span>Créer un nouveau projet musical
							</a>
						</div>
					{% endif %}

				</div>
			</section>
		</div>
	</contain>
{% endif %}{% endblock %}
