{% extends 'base.html.twig' %}

{% block title %}Edit BandMember
{% endblock %}

{% block body %}

	<div class="user-contain bg-slate-100">
		<div class="form-edit bg-white p-10 rounded-l-xl shadow-lg">
			<div class="w-flex">
				<h4 class=" bg-slate-700  text-white w-full p-2 rounded-md mt-5 mb-5">Membres Actifs</h4>

				{% set isAdmin = false %}
				{% for member in band.bandMembers %}
					{% if is_granted('band_member_edit', member) %}
						{% set isAdmin = true %}
					{% endif %}
				{% endfor %}

				{% for member in band.bandMembers %}

					{% if member.status != "guest" and member.status != "reject" %}

						<div class="flex justify-between">
							<div class="cardAdminProfil flex justify-between">
								<div class="flex items-center">
									<div class="img-member-db">

										<img src="{{ member.profil.picture }}" alt="">
									</div>
									<div>
										<a href="{{ path('app_profil_show', {'id': member.profil.id}) }}" class="text-blue-400 font-semibold">{{ member.profil.pseudo}}
											{% if member.status == "admin" %}
												(Admin)
											{% endif %}
										</a>
										<div class="flex">
											{% for bandMemberRole in member.bandMemberRoles %}
												<p class="ml-3">{{ bandMemberRole.roleBand.roleName|capitalize }}</p>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{% if isAdmin %}
								<div class="update">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24"><path fill="none" stroke="#60a5fa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2v-5m-1.414-9.414a2 2 0 1 1 2.828 2.828L11.828 15H9v-2.828z"/></svg>
								</div>
							{% endif %}

						</div>
						{% if isAdmin %}

							<div class="openMember">
								<form action="{{ path('app_band_members', {'id': band.id}) }}" method="post">
									<input type="hidden" name="memberId" value="{{ member.id }}">
									{% for bandMemberRole in member.bandMemberRoles %}
										<div class="w-full flex">
											<div class="w-full">
												<input type="hidden" name="idMemberRoleBand_{{ loop.index }}" value="{{ bandMemberRole.id }}">
												<label for="role_{{ loop.index }}">Rôle
													{{ loop.index }}</label><br>
												<select name="role_{{ loop.index }}" id="" class="w-full border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300">
													{% for role in roles %}
														<option value="{{ role.id }}" {% if role.roleName == bandMemberRole.roleBand.roleName %} selected {% endif %}>{{ role.roleName|capitalize }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="ml-3 mt-7">
												<button type="submit" name="deleteRole_{{ loop.index }}" value="1">
													<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24"><path fill="#8c8c8c" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
												</button>
											</div>
										</div>
									{% endfor %}
									<div class="my-3 Parent">
										<a href="#" class="text-slate-400 hover:text-blue-500 roleToggle">
											<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>
											Ajouter un rôle
										</a>
										<div class="openRole">
											<label for="newRole">Nouveau rôle</label><br>
											<select name="newRole" id="" class=" w-full border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300 ">
												{% for role in roles %}
													<option value="{{ role.id }}">{{ role.roleName|capitalize }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class=" w-full ">
										<label for="status">Status</label><br>
										{% for message in app.flashes('denied') %}
												<p class="text-red-500">{{ message }}</p>
										{% endfor %}
										<select name="status" id="" class=" w-full border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300">
											<option value="admin" {% if member.status == "admin" %} selected {% endif %}>Admin</option>
											<option value="member" {% if member.status == "member" %} selected {% endif %}>Membre</option>
										</select>
									</div>
									<button class="w-full border-2 border-blue-200 hover:border-blue-500 rounded-lg relative mt-5 p-2 duration-300">Modifier</button>
								</form>
								<form action="{{ path('app_band_members', {'id': band.id}) }}" method="post">
									<input type="hidden" name="idMember" value="{{ member.id }}">
									<div class="flex-responsive">
										<button name="deleteMember" class="w-full  border-2 border-red-200 hover:border-red-500 hover:bg-red-300 rounded-lg mt-5 p-2 duration-300">Supprimer ce membre</button>
									</div>

								</form>
							</div>
						{% endif %}

						<hr class="my-3">
					{% endif %}
				{% endfor %}
				{% if isAdmin %}

					<a href="#" class="text-slate-400 hover:text-blue-500 " id="toggleSearch">
						<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>
						Ajouter un Membre
					</a>
					<div class="search-member">
						{{ form_start(searchForm) }}
						{{ form_widget(searchForm.search, {
						'attr': {
							'class': 'w-full border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300',
						}
					}) }}
						{{ form_widget(searchForm.submit, {
						'attr': {
							'class': 'hidden',  
						}
					}) }}
						{{ form_end(searchForm) }}
					</div>
					{% for profil in profil %}
						<div class="flex items-center justify-between bg-slate-100 border-1 border-slate-300 rounded-md p-2 my-2">
							<div class="flex items-center">
								<div class="img-member-db">
									<img src="{{ profil.picture }}" alt="{{ profil.pseudo }}">
								</div>
								<a href="{{ path('app_profil_show', {'id': profil.id}) }}" class="text-blue-400 font-semibold">{{ profil.pseudo}}</a>
							</div>
							<div>
								{{ form_start(addRoleBand) }}
								<select id="{{ addRoleBand.role.vars.id }}" name="{{ addRoleBand.role.vars.full_name }}" class="border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300">
									<option value="">Choisissez son rôle</option>
									{% for role in roles %}
										<option value="{{ role.id }}">{{ role.roleName|capitalize }}</option>
									{% endfor %}
								</select>
								{{ form_widget(addRoleBand.profil, {
								'attr': {
									'class': 'hidden',  
									'value': profil.id
								}
							}) }}
								{{ form_widget(addRoleBand.band, {
								'attr': {
									'class': 'hidden',  
									'value': band.id
								}
							}) }}

								{{ form_widget(addRoleBand.submit, {
								'attr': {
									'class': 'border-2 border-blue-200 hover:bg-white hover:border-blue-500 rounded-lg p-2 duration-300',  
								}
							}) }}
								{{ form_widget(addRoleBand._token) }}

								{{ form_end(addRoleBand, {render_rest: false}) }}

							</div>
						</div>

					{% endfor %}
				{% endif %}

				<h4 class=" bg-slate-700  text-white w-full p-2 rounded-md mt-5 mb-5" style="margin-top: 50px;">Mes demandes d'hadhésion</h4>
				{% for member in band.bandMembers|reverse %}
					{% if member.status == "guest" or member.status == "reject" %}


						<div class="cardAdminProfil flex justify-between items-center">
							<div class="flex items-center">
								<div class="img-member-db">
									<img src="{{ member.profil.picture }}" alt="">
								</div>
								<div>
									<a href="{{ path('app_profil_show', {'id': member.profil.id}) }}" class="text-blue-400 font-semibold">{{ member.profil.pseudo}}</a>
									{% for bandMemberRole in member.bandMemberRoles %}

										<p>{{ bandMemberRole.roleBand.roleName|capitalize}}</p>
									{% endfor %}
								</div>
							</div>
							{% if member.status == "reject" %}
								<p style="color: red;">x Refusé</p>
							{% else %}
								<p style="color: gray;">... En cours</p>

							{% endif %}
						</div>
						<hr class="my-3">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


	let toggleSearchLink = document.getElementById('toggleSearch');
toggleSearchLink.addEventListener('click', function () {
let searchMemberDiv = document.querySelector('.search-member');

if (searchMemberDiv.style.display === 'none' || searchMemberDiv.style.display === '') {
searchMemberDiv.style.display = 'block';
toggleSearchLink.style.display = 'none';
} else {
searchMemberDiv.style.display = 'none';
}
});


$(document).ready(function () {
	$(".update").click(function () {
		$(this).closest('.flex').next(".openMember").toggle();
	});

	$(".roleToggle").click(function () {
		$(this).hide();
		$(this).closest('.Parent').find(".openRole").toggle();
	});
});
</script>

{# {{ include('band_member/_delete_form.html.twig') }} #}{% endblock %}
