{% extends 'base.html.twig' %}

{% block title %}Band
{% endblock %}

{% block body %}

	<div class="user-contain   px-28 py-5 bg bg-slate-100">
		<div class="header-user flex justify-evenly">
			<div class="pic_profil">
				<img src="{{ band.logo }}" alt="" class="user-img">
			</div>
			<div class="user-infos">
				<h3 class="font-bold ">{{ band.name }}</h3>
				<h3 class="mb-8">{{ band.musicCategory.category }}
					(
					{{ band.defineStyle }}
					)</h3>

			</div>

		</div>

		{# dashboard #}
		<div class="tab_project">
			<div class="my-10">
				<div class="flex ">
					<div class=" calendar bg-slate-700  text-white p-5 rounded-md">
						<div id="calendar-holder"></div>
					</div>

					<div class="event-list-db bg-white rounded-md shadow-md ">
						<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mes dernières demandes
						</h4>
						<div class="p-3">
							{% for event in band.events|reverse|slice(0, 5) %}
								<div class="cardAdminProfil flex justify-between ">
									<p>{{ event.date|date('d-m-Y')  }}</p>
									<a href="{{ path('app_hall_show', {'id': event.hall.id}) }}">{{ event.hall.name }}</a>
									<p>
										{% if event.status == 1 %}
											<span style="color: green;">✓ Validé</span>
										{% elseif event.status == 2 %}
											<span style="color: red;">x Refusé</span>
										{% elseif event.bandStatus == "guest" %}
											<div>
												<form action="{{ path('app_band_show', {'id': band.id}) }}" method="post">
													<input type="hidden" name="action" value="validate">
													<input type="hidden" name="event_id" value="{{ event.id }}">
													<button type="submit" class="validate-button px-2 py-1 rounded-lg bg-emerald-300 text-white hover:bg-emerald-500">Valider</button>
												</form>
												<form action="{{ path('app_band_show', {'id': band.id}) }}" method="post">
													<input type="hidden" name="action" value="reject">
													<input type="hidden" name="event_id" value="{{ event.id }}">
													<button type="submit" class="reject-button px-2 py-1 rounded-lg bg-red-300 text-white hover:bg-red-600">Refuser</button>
												</form>
											</div>
										{% elseif event.status == 3 %}
											<span style="color: gray;">... En cours</span>

										{% else %}
											{{ event.status }}
										{% endif %}
									</p>
								</div><hr class="my-3">

							{% endfor %}
							<a href="{{ path('app_search') }}" class="text-slate-400 hover:text-blue-500 ">
								<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Organiser un nouvel Event</a>
						</div>
					</div>
				</div>
			</div>
			<div class="my-10">

				<h4>Membres</h4>
				<div class="bg-white rounded-lg shadow-md p-3">

					{% for member in band.bandMembers %}
						<div class="cardAdminProfil flex justify-between ">
							{# <p>{{ bandMember.band.logo}}</p> #}
							{# <p>{{ member.profil.id }}</p> #}
								<p>
							{{ member.role.roleName}}
							</p>
								<p>
							{{ member.profil.pseudo}}
						</p>
						</div>
					<hr class="my-3"> {% endfor %}
					<a href="{{ path('app_band_new') }}" class="text-slate-400 hover:text-blue-500 ">
						<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Ajouter un nouveau membre</a>
				</div>

			</div>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {
defaultView: 'dayGridMonth',
editable: true,
eventSources: [
{
url: "/fc-load-events",
method: "POST",
extraParams: {
filters: JSON.stringify({})
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridWeek,timeGridDay'
},
timeZone: 'UTC'
});
calendar.render();
});
	</script>

{% endblock %}
