{% extends 'base.html.twig' %}

{% block title %}Hall index
{% endblock %}

{% block body %}
	<div class="user-contain min-h-screen">
<a href="{{ path('app_admin_hall')}}" class="text-slate-700 flex mb-3 bg-white p-2 border border-slate-700 rounded ">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24 " class="mr-3"><path fill="none" stroke="#3c3e5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20 12H4m0 0l6-6m-6 6l6 6"/></svg>
			Retour à la liste des salles</a>
		<div class="bg-white rounded-md shadow-md relative">
	<h4 class="bg-slate-700 text-white p-2 rounded-t-md pl-32 md:pl-40 pt-10 md:pt-4 pb-1 flex justify-between items-center">
		<span class="font-bold">{{hall.name}}</span>

	</h4>
	<div class="img-hall-booking">
		<img src="{{hall.logo}}" alt="{{hall.name}}">
	</div>

	<div class="pl-5 pt-8 md:pl-40 md:pt-5 pb-5 pr-5 w-full">
		<div class="flex flex-wrap justify-between">
		<div>
								<p> Id : {{ hall.id}}</p>

			<div class="flex mb-2 mr-5">
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 256 256" class="mr-2 mt-1">
					<path fill="#334155" d="M128 16a88.1 88.1 0 0 0-88 88c0 75.3 80 132.17 83.41 134.55a8 8 0 0 0 9.18 0C136 236.17 216 179.3 216 104a88.1 88.1 0 0 0-88-88m0 56a32 32 0 1 1-32 32a32 32 0 0 1 32-32"/>
				</svg>
				<div>
					{% if hall.hallInfo.city %}
						<p>{{ hall.hallInfo.city}}
							({{ hall.hallInfo.zipCode ? hall.hallInfo.zipCode : "" }})</p>
						<p>{{ hall.hallInfo.nbrStreet ? hall.hallInfo.nbrStreet ~ ", " : "" }}{{ hall.hallInfo.street ? hall.hallInfo.street : ""}}</p>
						<p>{{ hall.hallInfo.country ? hall.hallInfo.country : "" }}</p>
					{% else %}
						<p>Non précisé</p>
					{% endif %}

				</div>
		</div>
			</div>
			<div>
				<div class="flex mb-2 mr-5">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" class="mr-2 mt-1"><path fill="#334155" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z"/></svg>
					<div>
						<p>{{ hall.hallInfo.email ? hall.hallInfo.email : "Non précisé" }}</p>
					</div>
				</div>
				<div class="flex mb-2 mr-5">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 256 256" class="mr-2 mt-1"><path fill="#334155" d="M231.88 175.08A56.26 56.26 0 0 1 176 224C96.6 224 32 159.4 32 80a56.26 56.26 0 0 1 48.92-55.88a16 16 0 0 1 16.62 9.52l21.12 47.15v.12A16 16 0 0 1 117.39 96c-.18.27-.37.52-.57.77L96 121.45c7.49 15.22 23.41 31 38.83 38.51l24.34-20.71a8.12 8.12 0 0 1 .75-.56a16 16 0 0 1 15.17-1.4l.13.06l47.11 21.11a16 16 0 0 1 9.55 16.62"/></svg>
					<div>
						<p>{{ hall.hallInfo.phone ? hall.hallInfo.phone : "Non précisé" }}</p>
					</div>
				</div>
				<div class="flex mb-2 mr-5">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" class="mr-2 mt-1"><path fill="#334155" d="M16.36 14c.08-.66.14-1.32.14-2c0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2c0-.68.06-1.35.16-2h4.68c.09.65.16 1.32.16 2c0 .68-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.923 7.923 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8.008 8.008 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2c0 .68.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.65 15.65 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>
					<div>
						<p>{{ hall.hallInfo.website ? hall.hallInfo.website : "Non précisé" }}</p>
					</div>
				</div>
			</div>
			<div class="flex mb-2 mr-5">
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" class="mr-2 mt-1">
					<path fill="#334155" d="M6.27 2.289a2.936 2.936 0 0 0-2.159 2.035A37.876 37.876 0 0 0 4.1 9.842c.045 0 .491-.086.992-.188L6 9.467l.023-2.334c.027-2.711.016-2.652.584-2.938L6.8 4.1H12c5.737 0 5.316-.019 5.64.256c.324.275.308.2.334 2.776L18 9.467l.91.187c.5.1.947.187.992.188a37.876 37.876 0 0 0-.01-5.518a2.927 2.927 0 0 0-2.177-2.037c-.551-.132-10.9-.13-11.442 0m2.515 4.2l-.466 1.862L8 9.637l-.507.475l-.507.474l-2.486.465l-2.485.466v3.754A31.9 31.9 0 0 0 2.071 19l2.415-.9c1.3-.487 2.4-.893 2.45-.9c.069-.014.22.1.577.438l.487.45l.322 1.283l.466 1.861l.145.579h6.14l.145-.579l.466-1.861l.316-1.283l.484-.455c.357-.337.508-.452.577-.438c.051.009 1.154.415 2.45.9l2.418.905a31.9 31.9 0 0 0 .058-3.732v-3.751l-2.487-.466l-2.485-.465l-.507-.474L16 9.637l-.322-1.283l-.466-1.862l-.145-.579H8.93l-.145.579m4.2 5.182c2.541.608 3.471 3.2 1.83 5.091c-2.094 2.419-6.41 1.1-6.428-1.964c-.012-2.149 2.253-3.689 4.6-3.127"/>
				</svg>
				<div>
					<p>{{ hall.structure ? hall.structure : "Non précisé" }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

		<div class="bg-white rounded">

			{{ form_start(formHall) }}
<h4 class="title-option">
	<span>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" class="mr-3"><path fill="white" d="M6.27 2.289a2.936 2.936 0 0 0-2.159 2.035A37.876 37.876 0 0 0 4.1 9.842c.045 0 .491-.086.992-.188L6 9.467l.023-2.334c.027-2.711.016-2.652.584-2.938L6.8 4.1H12c5.737 0 5.316-.019 5.64.256c.324.275.308.2.334 2.776L18 9.467l.91.187c.5.1.947.187.992.188a37.876 37.876 0 0 0-.01-5.518a2.927 2.927 0 0 0-2.177-2.037c-.551-.132-10.9-.13-11.442 0m2.515 4.2l-.466 1.862L8 9.637l-.507.475l-.507.474l-2.486.465l-2.485.466v3.754A31.9 31.9 0 0 0 2.071 19l2.415-.9c1.3-.487 2.4-.893 2.45-.9c.069-.014.22.1.577.438l.487.45l.322 1.283l.466 1.861l.145.579h6.14l.145-.579l.466-1.861l.316-1.283l.484-.455c.357-.337.508-.452.577-.438c.051.009 1.154.415 2.45.9l2.418.905a31.9 31.9 0 0 0 .058-3.732v-3.751l-2.487-.466l-2.485-.465l-.507-.474L16 9.637l-.322-1.283l-.466-1.862l-.145-.579H8.93l-.145.579m4.2 5.182c2.541.608 3.471 3.2 1.83 5.091c-2.094 2.419-6.41 1.1-6.428-1.964c-.012-2.149 2.253-3.689 4.6-3.127"/></svg>
	</span>
	Identité</h4>
				<div class="p-3">

{{ form_row(formHall.name) }}
{{ form_row(formHall.logo) }}
{{ form_row(formHall.structure) }}
			</div>


<h4 class="title-option">
	<span>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-3"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0-6 0m6 0V4h10v9.5M9 8h10m-4 11l2 2l4-4"/></svg>
	</span>
	Musique(s) Acceptée(s)</h4>
				<div class="p-3">

<div class="inputForm">
	{% for category in formHall.music_category %}
		<div class="checkbox-item p-2 rounded flex border">
			<div class="  text-white px-2 py-1 rounded-full text-xs mr-3 border-2 checkIcon">
				✓
			</div>
			<span class="category-label" data-category-id="{{ category.vars.id }}">
				{{ category.vars.label }}
			</span>
			{{ form_widget(category) }}
		</div>
	{% endfor %}
</div>


	<button class="btnFormAccess">Enregistrer</button>
			</div>

{{ form_end(formHall) }}

		</div>
		<div class="bg-white rounded">

			{{ form_start(formHallInfo) }}

                <h4 class="title-option">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-3">
                        <path fill="white" d="M12 2C7.589 2 4 5.589 4 9.995C3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12c0-4.411-3.589-8-8-8m0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4s4 1.79 4 4s-1.79 4-4 4"/>
                    </svg></span> Adresse
                </h4>

				<div class="p-3">
                {{ form_row(formHallInfo.zipCode) }}

                {{ form_row(formHallInfo.city, {'label': 'Ville *'}) }}
                <div class="w-full flex justify-between">
                    <div class="w-1/6 mr-2">
                        {{ form_row(formHallInfo.nbrStreet) }}
                    </div>
                    <div class="w-5/6">
                        {{ form_row(formHallInfo.street) }}
                    </div>
                </div>
                {{ form_row(formHallInfo.department) }}
                {{ form_row(formHallInfo.region) }}
                {{ form_row(formHallInfo.country) }}
				</div>

				<h4 class="title-option"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-3"><path fill="white" d="M16.36 14c.08-.66.14-1.32.14-2c0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2c0-.68.06-1.35.16-2h4.68c.09.65.16 1.32.16 2c0 .68-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.923 7.923 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8.008 8.008 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2c0 .68.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.65 15.65 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg></span> Coordonnées</h4>
				<div class="p-3">
					
				{{ form_row(formHallInfo.email) }}
                {{ form_row(formHallInfo.phone) }}
                {{ form_row(formHallInfo.website) }}

					<hr>
					
                    <button class="btnFormAccess">Enregistrer</button>
				</div>

                {{ form_end(formHallInfo) }}
		</div>

		<div class="bg-white rounded">

			<h4 class="title-option">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" class="mr-3"><path fill="white" d="M16.36 14c.08-.66.14-1.32.14-2c0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2c0-.68.06-1.35.16-2h4.68c.09.65.16 1.32.16 2c0 .68-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.923 7.923 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8.008 8.008 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2c0 .68.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.65 15.65 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>
				</span>Membres du la salle</h4>
			<div class=" p-3">

				<table class="table w-full ">

					<thead>
						<tr>
							<th class="px-4 py-2 text-start">Id</th>
							<th class="px-4 py-2 text-start">Pseudo</th>
							<th class="px-4 py-2 text-start">Status</th>
							<th class="px-4 py-2 text-start">Roles</th>
							<th class="px-4 py-2 text-start">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for member in hall.hallMembers %}
							{% if member.status != "reject" %}

								<tr>
									<td class="border px-4 py-2">{{ member.id }}</td>
									<td class="border px-4 py-2">{{ member.profile.pseudo }}</td>
									<td class="border px-4 py-2">{{ member.status }}</td>
									<td class="border px-4 py-2">
										{% for HallMemberRole in member.HallMemberRoles %}
											<p>{{ HallMemberRole.roleHall.roleName|capitalize }}</p>
										{% endfor %}
									</td>
									<td class="border px-4 py-2">
										<a class="text-blue-500 hover:text-blue-700" href="{{ path('app_profil_show', {'id': member.profile.id}) }}">show</a>
										<a class="text-blue-500 hover:text-blue-700" href="{{ path('app_admin_user_edit', {'id': member.profile.IdUser.id}) }}">edit</a>
									</td>
								</tr>
							{% endif %}

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
<a href="{{ path('app_admin_hall_delete', {'id': hall.id}) }}"  class="mt-3 flex justify-center  text-center w-full  border-2 border-red-200 hover:border-red-500 hover:bg-red-300 rounded-lg p-2 duration-300" onclick="return confirm('Voulez-vous vraiment supprimer cette salle ?')">Supprimer</a>
	</div>



<script>
document.addEventListener('DOMContentLoaded', function () {
    let checkboxes = document.querySelectorAll(".checkbox-item input[type='checkbox']");
    
    checkboxes.forEach(function (checkbox) {
        checkbox.style.display = 'none';
        updateStyle(checkbox);
    });

    document.querySelectorAll(".checkbox-item").forEach(function (item) {
        let checkbox = item.querySelector("input[type='checkbox']");
        let checkIcon = item.querySelector('.checkIcon');
        let unCheckIcon = item.querySelector('.unCheckIcon');

        item.addEventListener('click', function () {
            checkbox.checked = !checkbox.checked;
            updateStyle(checkbox);
        });

        item.addEventListener('mouseenter', function () {
            item.classList.add("bg-green-100");
        });

        item.addEventListener('mouseleave', function () {
            if (!checkbox.checked) {
                item.classList.remove("bg-green-100");
            }
        });
    });

    function updateStyle(checkbox) {
        let checkboxItem = checkbox.closest(".checkbox-item");
        let checkIcon = checkboxItem.querySelector('.checkIcon');
        // let unCheckIcon = checkboxItem.querySelector('.unCheckIcon');

        if (checkbox.checked) {
            checkboxItem.classList.remove("border-slate-100");
            checkIcon.classList.remove("border-slate-300");
            checkboxItem.classList.add("bg-green-100", "border-green-500");
            checkIcon.classList.add("border-green-500", "bg-green-500");
        } else {
            checkboxItem.classList.remove("bg-green-100", "border-green-500");
            checkIcon.classList.remove("border-green-500", "bg-green-500");
            checkboxItem.classList.add("border-slate-100");
            checkIcon.classList.add("border-slate-300");
        }
    }
});
</script>
{% endblock %}
