{% extends 'base.html.twig' %}

{% block title %}BandInfo index{% endblock %}

{% block body %}
    <h1>BandInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>Region</th>
                <th>Department</th>
                <th>City</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for band_info in band_infos %}
            <tr>
                <td>{{ band_info.id }}</td>
                <td>{{ band_info.country }}</td>
                <td>{{ band_info.region }}</td>
                <td>{{ band_info.department }}</td>
                <td>{{ band_info.city }}</td>
                <td>{{ band_info.email }}</td>
                <td>{{ band_info.phone }}</td>
                <td>{{ band_info.website }}</td>
                <td>
                    <a href="{{ path('app_band_info_show', {'id': band_info.id}) }}">show</a>
                    <a href="{{ path('app_band_info_edit', {'id': band_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_band_info_new') }}">Create new</a>
{% endblock %}
