{% extends 'base.html.twig' %}

{% block title %}BandInfo{% endblock %}

{% block body %}
    <h1>BandInfo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ band_info.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ band_info.country }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ band_info.region }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ band_info.department }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ band_info.city }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ band_info.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ band_info.phone }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ band_info.website }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_band_info_index') }}">back to list</a>

    <a href="{{ path('app_band_info_edit', {'id': band_info.id}) }}">edit</a>

    {{ include('band_info/_delete_form.html.twig') }}
{% endblock %}
