{{ form_start(form) }}
{{ form_label(form.country, "Pays ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.country, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}
 <br>
    {{ form_label(form.region, "Region ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.region, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}
   <br>
    {{ form_label(form.department, "Départment ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.department, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}
    <br>
    {{ form_label(form.city, "Ville ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.city, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement',
            'id' : 'city'
        }
    }) }}<br>
    {{ form_label(form.zipCode, "Code Postal ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.zipCode, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement',
            'id' : 'zipCode'
        }
    }) }}<br>
    {{ form_label(form.email, "Email ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.email, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}<br>
    {{ form_label(form.phone, "Téléphone ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.phone, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}<br>
    {{ form_label(form.website, "Site internet ", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.website, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}<br>
   
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



{% block javascripts %}

{% endblock %}