{{ form_start(form) }}
{{ form_label(form.name, "Nom Etablissement *", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
{{ form_widget(form.name, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Nom Etablissement'
        }
    }) }}
    <hr class="my-5 border-1"> 

{{ form_label(form.logo, "Source logo *", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
    {{ form_widget(form.logo, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'lien Logo'
        }
    }) }} <br>
{{ form_label(form.structure, "Type de structure *", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>

    {{ form_widget(form.structure, {
        'attr': {
            'class': 'rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5 ',
            'placeholder': 'Type de structure (ex: Bar, Salle de Concert)'
        }
    }) }} <br>
{{ form_label(form.music_category, "Musiques acceptées *", {'label_attr': {'class': 'text-blue-400 font-semibold'}}) }} <br>
<div class="rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5">
    {% for category in form.music_category %}
    <div class="checkbox-item">
        {{ form_label(category) }}
        {{ form_widget(category) }}
    </div>
        <hr>
{% endfor %}
</div><br>
    {# {{ form_widget(form) }} #}
    {% set isMember = false %}
	{% for member in hall.hallMembers %}
		{% if is_granted('hall_member_view', member)%}
			{% set isMember = true %}
		{% endif %}
	{% endfor %}
    <button class="rounded-lg p-2 relative border-2 bg-slate-100 border-slate-400 mt-1 mb-3 w-3/5" {% if isMember %}  disabled {% endif %}>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
