{% extends 'base.html.twig' %}

{% block title %}Edit hallMember
{% endblock %}

{% block body %}

	<div class="user-contain bg-slate-100 min-h-screen">
		<div class="form-edit bg-white p-5 md:p-10  rounded-xl shadow-lg">
			<div class="w-flex">
				<h4 class=" bg-slate-700  text-white w-full p-2 rounded-md mt-5 mb-5">Membres Actifs</h4>

				{% set isAdmin = false %}
				{% for member in hall.hallMembers %}
					{% if is_granted('hall_member_edit', member)%}
						{% set isAdmin = true %}
					{% endif %}
				{% endfor %}
				{% set isMember = false %}
				{% for member in hall.hallMembers %}
					{% if is_granted('hall_member_view', member)%}
						{% set isMember = true %}
					{% endif %}
				{% endfor %}

				{% for member in hall.hallMembers %}
					{% if member.status != "guest" and member.status != "reject" %}

						<div class="flex justify-between">
							<div class="cardAdminProfil flex justify-between">
								<div class="flex items-center">
									<div class="img-member-db">
										<img src="{{ member.profile.picture }}" alt="photo de profil de {{ member.profile.pseudo }}">
									</div>
									<div>
										<a href="{{ path('app_profil_show', {'id': member.profile.id}) }}" class="text-blue-400 font-semibold">{{ member.profile.pseudo}}
											{% if member.status == "admin" %}
												(Admin)
											{% endif %}
										</a>
										
											{% for hallMemberRole in member.hallMemberRoles %}
												<p>{{ hallMemberRole.rolehall.roleName|capitalize }}</p>
											{% endfor %}
										
									</div>
								</div>
							</div>
							{% if isAdmin %}
								<div class="update">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24"><path fill="none" stroke="#60a5fa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2v-5m-1.414-9.414a2 2 0 1 1 2.828 2.828L11.828 15H9v-2.828z"/></svg>
								</div>
							{% endif %}

						</div>
						{% if isAdmin %}

							<div class="openMember">
								<form action="{{ path('app_hall_members', {'id': hall.id}) }}" method="post">
									<input type="hidden" name="memberId" value="{{ member.id }}">
									{% for hallMemberRole in member.hallMemberRoles %}
										<div class="w-full flex">
											<div class="w-full">
												<input type="hidden" name="idMemberRoleHall_{{ loop.index }}" value="{{ hallMemberRole.id }}">
												
												<label for="role_{{ loop.index }}">Rôle
													{{ loop.index }}</label><br>
												<select name="role_{{ loop.index }}" >
													{% for role in roles %}
														<option value="{{ role.id }}" {% if role.roleName == hallMemberRole.roleHall.roleName %} selected {% endif %}>{{ role.roleName|capitalize }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="ml-3 mt-7">
												<button type="submit" name="deleteRole_{{ loop.index }}" value="1">
													<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24"><path fill="#8c8c8c" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
												</button>
											</div>
										</div>
									{% endfor %}
									<div class="my-3 Parent">
										<a href="#" class="text-slate-400 hover:text-blue-500 roleToggle">
											<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>
											Ajouter un rôle
										</a>
										<div class="openRole">
											<label for="newRole">Nouveau rôle</label><br>
											<select name="newRole">
												{% for role in roles %}
													<option value="{{ role.id }}">{{ role.roleName|capitalize }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class=" w-full ">
									{% for message in app.flashes('denied') %}
												<p class="text-red-500">{{ message }}</p>
										{% endfor %}
										<label for="status">Status</label><br>
										<select name="status">
											<option value="admin" {% if member.status == "admin" %} selected {% endif %}>Admin</option>
											<option value="member" {% if member.status == "member" %} selected {% endif %}>Membre</option>
										</select>
									</div>
									<button class="btnFormAccess">Modifier</button>
								</form>
								<form action="{{ path('app_hall_members', {'id': hall.id}) }}" method="post">
									<input type="hidden" name="idMember" value="{{ member.id }}">
									<div class="flex-responsive">
										<button name="deleteMember" class="w-full  border-2 border-red-200 hover:border-red-500 hover:bg-red-300 rounded-lg p-2 duration-300">Supprimer ce membre</button>
									</div>

								</form>
							</div>
						{% endif %}

						<hr class="my-3">
					{% endif %}
				{% endfor %}
				{% if isAdmin %}

					<div class="text-slate-400 hover:text-blue-500 " id="toggleSearch">
						<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>
						Ajouter un Membre
					</div>
					<div class="search-member">
						{{ form_start(searchForm) }}
						{{ form_widget(searchForm.search, {
						'attr': {
							'class': 'w-full border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300',
						}
					}) }}
						{{ form_widget(searchForm.submit, {
						'attr': {
							'class': 'hidden',  
						}
					}) }}
						{{ form_end(searchForm) }}
					</div>
					{# {{ include('/hall_member/_form.html.twig') }} #}
					{% for profil in profil %}
						<div class="flex items-center justify-between bg-slate-100 border-1 border-slate-300 rounded-md p-2 my-2">
							<div class="flex items-center">
								<div class="img-member-db">
									<img src="{{ profil.picture }}" alt="photo de profil de {{ profil.pseudo }}">
								</div>
								<a href="{{ path('app_profil_show', {'id': profil.id}) }}" class="text-blue-400 font-semibold">{{ profil.pseudo}}</a>
							</div>
							<div>
							<form action="{{ path('app_hall_members', {'id': hall.id}) }}" method="post" name="inviteMemberForm">
							<select class="border-2 border-blue-200 hover:border-blue-500 rounded-lg p-2 duration-300" name="roleId" required>
									<option value="" disabled selected>Choisissez son rôle</option>
									{% for role in roles %}
										<option value="{{ role.id }}" >{{ role.roleName|capitalize }}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="profilId" value="{{ profil.id }}">
								<input type="hidden" name="hallId" value="{{ hall.id }}">
								<button type="submit" class="border-2 border-blue-200 hover:bg-white hover:border-blue-500 rounded-lg p-2 duration-300">Inviter</button>
								</form>
							</div>
						</div>

					{% endfor %}
				{% endif %}

				<h4 class=" bg-slate-700  text-white w-full p-2 rounded-md mt-5 mb-5" style="margin-top: 50px;">Mes demandes d'adhésion</h4>
				
				{% for member in hall.hallMembers|reverse %}
					{% if member.status == "guest" or member.status == "reject" %}


						<div class="cardAdminProfil flex justify-between items-center">
							<div class="flex items-center">
								<div class="img-member-db">
									<img src="{{ member.profile.picture }}" alt="photo de profil de {{ member.profile.pseudo }}">
								</div>
								<div>
									<a href="{{ path('app_profil_show', {'id': member.profile.id}) }}" class="text-blue-400 font-semibold">{{ member.profile.pseudo}}</a>
									{% for hallMemberRole in member.hallMemberRoles %}

										<p>{{ hallMemberRole.roleHall.roleName|capitalize}}</p>
									{% endfor %}
								</div>
							</div>
							{% if member.status == "reject" %}
								<p style="color: red;">x Refusé</p>
							{% else %}
								<p style="color: gray;">... En cours</p>

							{% endif %}
						</div>
						<hr class="my-3">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


	let toggleSearchLink = document.getElementById('toggleSearch');
toggleSearchLink.addEventListener('click', function () {
let searchMemberDiv = document.querySelector('.search-member');

if (searchMemberDiv.style.display === 'none' || searchMemberDiv.style.display === '') {
searchMemberDiv.style.display = 'block';
toggleSearchLink.style.display = 'none';
} else {
searchMemberDiv.style.display = 'none';
}
});


$(document).ready(function () {
$(".update").click(function () {
$(this).closest('.flex').next(".openMember").toggle();
});
$(".roleToggle").click(function () {
$(this).hide();
$(this).closest('.Parent').find(".openRole").toggle();
});
});
</script>

{# {{ include('hall_member/_delete_form.html.twig') }} #}{% endblock %}
