{% extends 'base.html.twig' %}

{% block title %}Hall
{% endblock %}

{% block body %}
	<div class="user-dashboard  flex bg-sky-950 ">
		<div class="user-sidebar bg-sky-950 h-screen text-white">
			<ul class="nav-side-bar pt-5">
				<a href="/profil/{{ app.user.profil.id }}">
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 16 16" class="mr-2"><path fill="white" d="M16 7.992C16 3.58 12.416 0 8 0S0 3.58 0 7.992c0 2.43 1.104 4.62 2.832 6.09c.016.016.032.016.032.032c.144.112.288.224.448.336c.08.048.144.111.224.175A7.98 7.98 0 0 0 8.016 16a7.98 7.98 0 0 0 4.48-1.375c.08-.048.144-.111.224-.16c.144-.111.304-.223.448-.335c.016-.016.032-.016.032-.032c1.696-1.487 2.8-3.676 2.8-6.106m-8 7.001c-1.504 0-2.88-.48-4.016-1.279c.016-.128.048-.255.08-.383a4.17 4.17 0 0 1 .416-.991c.176-.304.384-.576.64-.816c.24-.24.528-.463.816-.639c.304-.176.624-.304.976-.4A4.15 4.15 0 0 1 8 10.342a4.185 4.185 0 0 1 2.928 1.166c.368.368.656.8.864 1.295c.112.288.192.592.24.911A7.03 7.03 0 0 1 8 14.993m-2.448-7.4a2.49 2.49 0 0 1-.208-1.024c0-.351.064-.703.208-1.023c.144-.32.336-.607.576-.847c.24-.24.528-.431.848-.575c.32-.144.672-.208 1.024-.208c.368 0 .704.064 1.024.208c.32.144.608.336.848.575c.24.24.432.528.576.847c.144.32.208.672.208 1.023c0 .368-.064.704-.208 1.023a2.84 2.84 0 0 1-.576.848a2.84 2.84 0 0 1-.848.575a2.715 2.715 0 0 1-2.064 0a2.84 2.84 0 0 1-.848-.575a2.526 2.526 0 0 1-.56-.848zm7.424 5.306c0-.032-.016-.048-.016-.08a5.22 5.22 0 0 0-.688-1.406a4.883 4.883 0 0 0-1.088-1.135a5.207 5.207 0 0 0-1.04-.608a2.82 2.82 0 0 0 .464-.383a4.2 4.2 0 0 0 .624-.784a3.624 3.624 0 0 0 .528-1.934a3.71 3.71 0 0 0-.288-1.47a3.799 3.799 0 0 0-.816-1.199a3.845 3.845 0 0 0-1.2-.8a3.72 3.72 0 0 0-1.472-.287a3.72 3.72 0 0 0-1.472.288a3.631 3.631 0 0 0-1.2.815a3.84 3.84 0 0 0-.8 1.199a3.71 3.71 0 0 0-.288 1.47c0 .352.048.688.144 1.007c.096.336.224.64.4.927c.16.288.384.544.624.784c.144.144.304.271.48.383a5.12 5.12 0 0 0-1.04.624c-.416.32-.784.703-1.088 1.119a4.999 4.999 0 0 0-.688 1.406c-.016.032-.016.064-.016.08C1.776 11.636.992 9.91.992 7.992C.992 4.14 4.144.991 8 .991s7.008 3.149 7.008 7.001a6.96 6.96 0 0 1-2.032 4.907"/></svg>
						{{ app.user.profil.pseudo }}
					</li>
				</a>
				<li>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 1024 1024" class="mr-2"><path fill="white" d="M464 512a48 48 0 1 0 96 0a48 48 0 1 0-96 0m200 0a48 48 0 1 0 96 0a48 48 0 1 0-96 0m-400 0a48 48 0 1 0 96 0a48 48 0 1 0-96 0m661.2-173.6c-22.6-53.7-55-101.9-96.3-143.3a444.35 444.35 0 0 0-143.3-96.3C630.6 75.7 572.2 64 512 64h-2c-60.6.3-119.3 12.3-174.5 35.9a445.35 445.35 0 0 0-142 96.5c-40.9 41.3-73 89.3-95.2 142.8c-23 55.4-34.6 114.3-34.3 174.9A449.4 449.4 0 0 0 112 714v152a46 46 0 0 0 46 46h152.1A449.4 449.4 0 0 0 510 960h2.1c59.9 0 118-11.6 172.7-34.3a444.48 444.48 0 0 0 142.8-95.2c41.3-40.9 73.8-88.7 96.5-142c23.6-55.2 35.6-113.9 35.9-174.5c.3-60.9-11.5-120-34.8-175.6m-151.1 438C704 845.8 611 884 512 884h-1.7c-60.3-.3-120.2-15.3-173.1-43.5l-8.4-4.5H188V695.2l-4.5-8.4C155.3 633.9 140.3 574 140 513.7c-.4-99.7 37.7-193.3 107.6-263.8c69.8-70.5 163.1-109.5 262.8-109.9h1.7c50 0 98.5 9.7 144.2 28.9c44.6 18.7 84.6 45.6 119 80c34.3 34.3 61.3 74.4 80 119c19.4 46.2 29.1 95.2 28.9 145.8c-.6 99.6-39.7 192.9-110.1 262.7"/></svg>
					Messagerie</li>
				<li>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" class="mr-2">
						<g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="white" d="M15 19a2 2 0 0 1-1.85 1.995L13 21h-2a2 2 0 0 1-1.995-1.85L9 19zM12 2a7 7 0 0 1 6.996 6.76L19 9v3.764l1.822 3.644a1.1 1.1 0 0 1-.869 1.586l-.115.006H4.162a1.1 1.1 0 0 1-1.03-1.487l.046-.105L5 12.764V9a7 7 0 0 1 7-7m0 2a5 5 0 0 0-4.995 4.783L7 9v3.764a2 2 0 0 1-.136.725l-.075.17L5.619 16h12.763l-1.17-2.342a2.002 2.002 0 0 1-.203-.709L17 12.764V9a5 5 0 0 0-5-5"/></g>
					</svg>
					Notifications</li>
				<hr>
				<a href="/hall/{{ hall.id }}">
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 16 16" class="mr-2"><path fill="white" d="M16 7.992C16 3.58 12.416 0 8 0S0 3.58 0 7.992c0 2.43 1.104 4.62 2.832 6.09c.016.016.032.016.032.032c.144.112.288.224.448.336c.08.048.144.111.224.175A7.98 7.98 0 0 0 8.016 16a7.98 7.98 0 0 0 4.48-1.375c.08-.048.144-.111.224-.16c.144-.111.304-.223.448-.335c.016-.016.032-.016.032-.032c1.696-1.487 2.8-3.676 2.8-6.106m-8 7.001c-1.504 0-2.88-.48-4.016-1.279c.016-.128.048-.255.08-.383a4.17 4.17 0 0 1 .416-.991c.176-.304.384-.576.64-.816c.24-.24.528-.463.816-.639c.304-.176.624-.304.976-.4A4.15 4.15 0 0 1 8 10.342a4.185 4.185 0 0 1 2.928 1.166c.368.368.656.8.864 1.295c.112.288.192.592.24.911A7.03 7.03 0 0 1 8 14.993m-2.448-7.4a2.49 2.49 0 0 1-.208-1.024c0-.351.064-.703.208-1.023c.144-.32.336-.607.576-.847c.24-.24.528-.431.848-.575c.32-.144.672-.208 1.024-.208c.368 0 .704.064 1.024.208c.32.144.608.336.848.575c.24.24.432.528.576.847c.144.32.208.672.208 1.023c0 .368-.064.704-.208 1.023a2.84 2.84 0 0 1-.576.848a2.84 2.84 0 0 1-.848.575a2.715 2.715 0 0 1-2.064 0a2.84 2.84 0 0 1-.848-.575a2.526 2.526 0 0 1-.56-.848zm7.424 5.306c0-.032-.016-.048-.016-.08a5.22 5.22 0 0 0-.688-1.406a4.883 4.883 0 0 0-1.088-1.135a5.207 5.207 0 0 0-1.04-.608a2.82 2.82 0 0 0 .464-.383a4.2 4.2 0 0 0 .624-.784a3.624 3.624 0 0 0 .528-1.934a3.71 3.71 0 0 0-.288-1.47a3.799 3.799 0 0 0-.816-1.199a3.845 3.845 0 0 0-1.2-.8a3.72 3.72 0 0 0-1.472-.287a3.72 3.72 0 0 0-1.472.288a3.631 3.631 0 0 0-1.2.815a3.84 3.84 0 0 0-.8 1.199a3.71 3.71 0 0 0-.288 1.47c0 .352.048.688.144 1.007c.096.336.224.64.4.927c.16.288.384.544.624.784c.144.144.304.271.48.383a5.12 5.12 0 0 0-1.04.624c-.416.32-.784.703-1.088 1.119a4.999 4.999 0 0 0-.688 1.406c-.016.032-.016.064-.016.08C1.776 11.636.992 9.91.992 7.992C.992 4.14 4.144.991 8 .991s7.008 3.149 7.008 7.001a6.96 6.96 0 0 1-2.032 4.907"/></svg>
						{{ hall.name }}
						<div class="triangle"></div>
					</li>
				</a>
				<li class="sup-nav" id="gererBtn">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" class="mr-2"><path fill="white" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16m1-9.5V15h1v2h-4v-2h1v-2.5h-1v-2zm.5-2.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0"/></svg>
					Gérer ▽

				</li>
				<div class="sous-nav" id="sousNav">
					<a href="{{ path('app_hall_edit', {'id': hall.id}) }} ">
						<li>Identité</li>
					</a>
					<a href="{{ path('app_hall_info_edit', {'id': hall.hallInfo.id}) }} ">
						<li>Informations</li>
					</a>
					<a href="/hall/{{ hall.id }}/edit">
						<li>Membres</li>
					</a>
					<a href="/hall/{{ hall.id }}/edit">
						<li>Matériel</li>
					</a>
					<a href="/hall/{{ hall.id }}/edit">
						<li>Discographie</li>
					</a>
				</div>
				<li>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 1024 1024" class="mr-2"><path fill="white" d="M464 512a48 48 0 1 0 96 0a48 48 0 1 0-96 0m200 0a48 48 0 1 0 96 0a48 48 0 1 0-96 0m-400 0a48 48 0 1 0 96 0a48 48 0 1 0-96 0m661.2-173.6c-22.6-53.7-55-101.9-96.3-143.3a444.35 444.35 0 0 0-143.3-96.3C630.6 75.7 572.2 64 512 64h-2c-60.6.3-119.3 12.3-174.5 35.9a445.35 445.35 0 0 0-142 96.5c-40.9 41.3-73 89.3-95.2 142.8c-23 55.4-34.6 114.3-34.3 174.9A449.4 449.4 0 0 0 112 714v152a46 46 0 0 0 46 46h152.1A449.4 449.4 0 0 0 510 960h2.1c59.9 0 118-11.6 172.7-34.3a444.48 444.48 0 0 0 142.8-95.2c41.3-40.9 73.8-88.7 96.5-142c23.6-55.2 35.6-113.9 35.9-174.5c.3-60.9-11.5-120-34.8-175.6m-151.1 438C704 845.8 611 884 512 884h-1.7c-60.3-.3-120.2-15.3-173.1-43.5l-8.4-4.5H188V695.2l-4.5-8.4C155.3 633.9 140.3 574 140 513.7c-.4-99.7 37.7-193.3 107.6-263.8c69.8-70.5 163.1-109.5 262.8-109.9h1.7c50 0 98.5 9.7 144.2 28.9c44.6 18.7 84.6 45.6 119 80c34.3 34.3 61.3 74.4 80 119c19.4 46.2 29.1 95.2 28.9 145.8c-.6 99.6-39.7 192.9-110.1 262.7"/></svg>
					Mes events</li>
			</ul>
		</div>

		<div class="user-contain px-28 py-5 bg bg-slate-100">
			<div class="header-user flex justify-evenly">
				<div class="pic_profil">
					<img src="{{ hall.logo }}" alt="" class="user-img">
				</div>
				<div class="user-infos">
					<h3 class="font-bold ">{{ hall.name }}</h3>
				</div>

			</div>
			<div class="tab_project">
				<div class="my-10">
					<div class="flex ">
						<div class=" calendar bg-slate-700  text-white p-5 rounded-md">
							<div id="calendar-holder"></div>
						</div>

						<div class="event-list-db bg-white rounded-md shadow-md ">
							<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mes demandes de date
							</h4>
							<div class="p-3">
								{% for event in hall.events %}
									{% if event.status == 3 %}
										<div class="cardAdminProfil flex justify-between ">
											<p>{{ event.date|date('d-m-Y')  }}</p>
											<p>{{ event.band.name }}</p>

											<div>
												<form action="{{ path('app_hall_show', {'id': hall.id}) }}" method="post">
													<input type="hidden" name="action" value="validate">
													<input type="hidden" name="event_id" value="{{ event.id }}">
													<button type="submit" class="validate-button px-2 py-1 rounded-lg bg-emerald-300 text-white hover:bg-emerald-500">Valider</button>
												</form>
												<form action="{{ path('app_hall_show', {'id': hall.id}) }}" method="post">
													<input type="hidden" name="action" value="reject">
													<input type="hidden" name="event_id" value="{{ event.id }}">
													<button type="submit" class="reject-button px-2 py-1 rounded-lg bg-red-300 text-white hover:bg-red-600">Refuser</button>
												</form>
											</div>
										</div>
										<hr class="my-3">
									{% endif %}
								{% endfor %}
								<a href="{{ path('app_event_new') }}" class="text-slate-400 hover:text-blue-500 ">
									<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Organiser un nouvel Event</a>
							</div>
						</div>
					</div>
					<div class="event-list-db bg-white rounded-md shadow-md pt-3 ">
							<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mes prochains events
							</h4>
							<div class="p-3">
								{% for event in hall.events %}
									{% if event.status == 1 %}
										<div class="cardAdminProfil flex justify-between ">
											<p>{{ event.date|date('d-m-Y')  }}</p>
											<p>{{ event.band.name }}</p>

											<div>
												<form action="{{ path('app_hall_show', {'id': hall.id}) }}" method="post">
													<input type="hidden" name="action" value="validate">
													<input type="hidden" name="event_id" value="{{ event.id }}">
													<button type="submit" class="validate-button px-2 py-1 rounded-lg bg-red-300 text-white hover:bg-red-600">Annuler</button>
												</form>
											</div>
										</div>
										<hr class="my-3">
									{% endif %}
								{% endfor %}
								<a href="{{ path('app_event_new') }}" class="text-slate-400 hover:text-blue-500 ">
									<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Organiser un nouvel Event</a>
							</div>
						</div>
				</div>
				<div class="my-10">
					<h4>Membres</h4>
					<div class="bg-white rounded-lg shadow-md p-3">

						{% for member in hall.hallMembers %}
							<div class="cardAdminProfil flex justify-between ">
								{# <p>{{ bandMember.band.logo}}</p> #}
								{# <p>{{ member.profil.id }}</p> #}
									<p>
								{{ member.role.roleName}}
								</p>
									<p>
								{{ member.profile.pseudo}}
							</p>
							</div>
						<hr class="my-3"> {% endfor %}
						<a href="{{ path('app_hall_member_new') }}" class="text-slate-400 hover:text-blue-500 ">
							<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Ajouter un nouveau membre</a>
					</div>

				</div>
			</div>

		</div>
	</div>

{% endblock %}


{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {

defaultView: 'dayGridMonth',
editable: true,
eventSources: [
{
url: "/fc-load-events",
method: "POST",
extraParams: {
filters: JSON.stringify({})
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridWeek,timeGridDay'
},
timeZone: 'UTC'
});
calendar.render();
});
	</script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
const validateButtons = document.querySelectorAll('.validate-button');
const rejectButtons = document.querySelectorAll('.reject-button');

validateButtons.forEach(button => {
button.addEventListener('click', function () {
const eventId = this.getAttribute('data-event-id');
updateEventStatus(eventId, 1); // Mettre à jour le statut à 1 (Validé)
});
});

rejectButtons.forEach(button => {
button.addEventListener('click', function () {
const eventId = this.getAttribute('data-event-id');
updateEventStatus(eventId, 2); // Mettre à jour le statut à 2 (Refusé)
});
});

function updateEventStatus(eventId, newStatus) {
// Envoyer une requête AJAX au serveur pour mettre à jour le statut
// Utilisez votre chemin de contrôleur et les données nécessaires
const url = `/update-event-status/${eventId}/${newStatus}`;

// Vous pouvez utiliser fetch ou une bibliothèque comme Axios pour envoyer la requête
fetch(url, {
method: 'POST',
headers: {
'Content-Type': 'application/json',
// Ajoutez d'autres en-têtes si nécessaire
},
// Ajoutez un corps de requête si nécessaire
}).then(response => { // Traitez la réponse du serveur si nécessaire
console.log(response);
}).catch(error => {
console.error('Erreur lors de la mise à jour du statut de l\'événement :', error);
});
}
});

document.getElementById('gererBtn').addEventListener('click', function () {
var sousNav = document.getElementById('sousNav');
sousNav.style.display = (sousNav.style.display === 'none' || sousNav.style.display === '') ? 'block' : 'none';
});
	</script>

{% endblock %}
