{{ form_start(form) }}
{{ form_widget(form.email, {
                        'attr': {
                            'placeholder': 'Votre Email'
                        }
                    }) }}

{{ form_widget(form.password) }}
{# {{ form_widget(form) }} #}
<button class="rounded-lg p-2 bg-blue-700 w-full mt-3 text-white">{{ button_label|default('S\'inscrire') }}</button>
{{ form_end(form) }}
